/* for mobile devices */
@media screen and (max-width:480px){
    body{
        display:grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(2 1fr);
    }

    /* intro part */
    .introduce{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .introduce p{
        font-size: 15px;
        line-height: normal;
    }

    /* edu part */
    .education{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /* pic part */
    .photo{
        grid-column: 2/3;
        grid-row: 2/3;
        
    }
}

/* for desktop devices */
@media screen and (min-width:960px){
    body{
        display:grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(2 1fr);
        margin: 40px;
        background-color: #D1BB9E;
    }

    h2{
        font-size: 50px;
    }

    h3{
        font-size: 30px;
    }
    /* intro part */
    .introduce{
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: #EAD8C0;
        padding: 10px 30px;
        margin: 20px;
    }
    
    .introduce p {
        font-size: 25px;
        margin: 0;
        line-height: 2;
    }

    /* edu part */
    .education{
        grid-column: 1/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        background-color: #EAD8C0;
        padding: 10px 40px;
        margin: 20px;
        align-items: center;
    }

    .education h2{
        margin: 20px 20px 0;
    }

    .education p{
        font-size: 25px;
    }

    div{
        display: flex;
        justify-content: space-around;
        gap: 200px;
    }

    /* pic part */
    .photo{
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0 20px 0 0 ;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pic2{
        display:none;
    }

    .photo h3{
        font-size: 25px;
    }

    .photo h4{
        font-size: 20px;
        margin: 0;
    }
}