body {
    background-color: #D1BB9E;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: black;
}

a:hover {
    color: #896C6C;
}

/* for moble */
@media screen and (max-width:480px) {
    body {
        background-color: #D1BB9E;
        margin: 20px 20px;
        display: grid;
        gap: 10px;
        grid-template-areas:
            "header header header"
            ". img ."
            "name name name"
            "title title title"
            "iconmail iconphone iconaddress"
            "mail mail mail"
            "phone phone phone"
            "address address address";
    }

    .desk,
    .picdesk {
        display: none !important;

    }

    .header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fa-solid {
        font-size: 25px;
    }

    h2 {
        margin-right: 140px;
        margin-bottom: 10px;
    }

    .name {
        grid-area: name;
        text-align: center;
        font-size: 30px;
    }

    .title {
        grid-area: title;
        text-align: center;
        margin-top: 0;
        font-size: 20px;
    }

    .mail {
        grid-area: mail;
        display: flex;
    }

    .phone {
        grid-area: phone;
        display: flex;
    }

    .address {
        grid-area: address;
        display: flex;
    }

    .picphone {
        grid-area: img;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .iconmail {
        grid-area: iconmail;
    }

    .iconphone {
        grid-area: iconphone;
    }

    .iconaddress {
        grid-area: iconaddress;
    }

    .iconmail,
    .iconphone,
    .iconaddress {
        border: 2px solid black;
        border-radius: 5px;
        background-color: #EAD8C0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    p {
        margin: 10px;
    }

    .mail,
    .address,
    .phone {
        border: 2px solid black;
        border-radius: 5px;
        background-color: #EAD8C0;
        padding: 20px;
        margin: 0;
    }
}

/* for desktop */
@media screen and (min-width:960px) {
    body {
        background-color: #D1BB9E;
        margin: 0 70px 0 100px;
        display: grid;
        gap: 10px;
        grid-template-areas:
            "header header header"
            "name name img"
            "title title img"
            "mail mail img"
            "phone phone img"
            "address address img";
    }

    .iconaddress p,
    .iconaddress,
    .iconphone p,
    .iconphone,
    .iconmail p,
    .iconmail {
        display: none;
    }

    .picphone {
        display: none;
    }

    .header {
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 550px;
        margin-top: 20px;
    }

    .header i {
        font-size: 50px;
    }

    h2 {
        font-size: 50px;
    }

    .name {
        grid-area: name;
        font-size: 70px;
        text-align: center;
        margin: 50px 0 0 0;
    }

    .title {
        grid-area: title;
        font-size: 30px;
        text-align: center;
    }

    .mail {
        grid-area: mail;
        font-size: 25px;
    }

    .phone {
        grid-area: phone;
        font-size: 25px;
    }

    .address {
        grid-area: address;
        font-size: 25px;
    }

    .mail,
    .phone,
    .address {
        margin-left: 60px;
        display: flex;
        align-items: center;
        gap: 30px;

    }

    .mail i,
    .phone i,
    .address i {
        font-size: 30px;
    }

    .picdesk {
        grid-area: img;
        width: 330px;
        height: 500px;
    }
}