/* for moble */
@media screen and (max-width: 480px){
    body{
        background-color: #D1BB9E;
        display: flex;
        flex-direction: column;
    }

    /* golden */
    .golden

    /* nna */

    /* summer camp */

    /* green summer */
}