body {
    background-color: #D1BB9E;
    color: black;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: black;
}

a:hover {
    color: #896C6C;
}

/* for moble */
@media screen and (max-width: 480px) {
    body {
        background-color: #D1BB9E;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .highlight {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 1.5px;
    }

    header {
        font-size: 25px;
        margin-right: 110px;
    }

    .header i {
        font-size: 25px;
    }

    /* golden */
    .golden {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-row: repeat(2 1fr);
    }

    .golden h2 {
        grid-column: 1/2;
        grid-row: 1;
        word-spacing: 30px;
        line-height: 2;
        padding-left: 50px;
        padding-top: 50px;
    }

    .golden p {
        grid-column: 2/4;
        grid-row: 1;
        text-align: justify;
        line-height: 1.5;
    }

    .golden img {
        grid-column: 1/4;
        width: 374px;
        height: 237px;
        grid-row: 2;
        margin-bottom: 20px;
    }

    /* the face */
    .theface {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-row: repeat(2 1fr);
    }

    .theface h2 {
        grid-column: 2/4;
        grid-row: 1;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .theface p {
        grid-column: 2/4;
        grid-row: 2;
        margin: 0 0 20px 0;
        padding-left: 10px;
        text-align: justify;
    }

    .theface img {
        grid-column: 1/2;
        width: 200px;
        height: 220px;
        grid-row: 1/3;
    }

    /* summer camp */
    .summercamp {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-row: repeat(2 1fr);
    }

    .summercamp h2 {
        grid-column: 1/2;
        grid-row: 1;
        margin: 0 0 10px 2px;
    }

    .summercamp p {
        grid-column: 1/2;
        grid-row: 2;
        margin: 0 10px 0 0;
        text-align: justify;
        line-height: 1.3;
    }

    .summercamp img {
        grid-column: 2/4;
        width: 200px;
        height: 220px;
        grid-row: 1/3;
    }

    /* green summer */
    .mhx {
        display: flex;
        flex-direction: column;
    }

    .mhx img {
        width: 374px;
        height: 271px;
    }

    .mhx h2 {
        word-spacing: 10px;
        padding: 10px 50px 0 70px;
        text-indent: 30px;
        margin-bottom: 15px;
    }

    .mhx p {
        line-height: 1.5;
        text-align: justify;
    }

}

/* for desktop */
@media screen and (min-width: 960px) {
    body {
        background-color: #D1BB9E;
        display: flex;
        flex-direction: column;
        padding: 30px;
        margin: 20px 30px;
        gap: 20px;
    }

    .moble {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header {
        font-size: 60px;
        margin-right: 330px;
        letter-spacing: 4px;
    }

    .fa-solid {
        font-size: 40px;
    }

    /* golden */
    .golden {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-row: repeat(2 1fr);
    }

    .golden h2 {
        grid-column: 1/2;
        grid-row: 1;
        font-size: 40px;
        letter-spacing: 1px;
        padding: 20px 20px 20px 150px;
        margin: 0 30px 0 0;
    }

    .golden p {
        grid-column: 1/2;
        grid-row: 2;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 20px 20px;
        margin: 0 30px 30px 0;
        text-align: justify;
        line-height: 1.5;
    }

    .golden img {
        grid-column: 2/3;
        width: 631px;
        height: 400px;
        grid-row: 1/3;
    }

    /* the face */
    .theface {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-row: repeat(2 1fr);
        background-color: #EAD8C0;
        border-radius: 20px;
        margin-left: 20px;
    }

    .theface h2 {
        grid-column: 2/3;
        grid-row: 1;
        font-size: 40px;
        letter-spacing: 1px;
        padding: 20px 20px 0 300px;
        margin: 20px 0 0 0;
    }

    .theface p {
        grid-column: 2/3;
        grid-row: 2;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 0 20px 60px;
        margin: 0 30px 30px 0;
        text-align: justify;
        line-height: 1.5;
    }

    .theface img {
        grid-column: 1/2;
        width: 450px;
        height: 450px;
        grid-row: 1/3;
    }

    /* summer camp */
    .summercamp {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-row: repeat(2 1fr);
        
    }

    .summercamp h2 {
        grid-column: 1/2;
        grid-row: 1;
        font-size: 40px;
        letter-spacing: 1px;
        padding: 20px 20px 20px 250px;
        margin: 0 30px 0 0;

    }

    .summercamp p {
        grid-column: 1/2;
        grid-row: 2;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 0 40px 20px 20px;
        margin: 0 30px 30px 0;
        text-align: justify;
        line-height: 1.5;
    }

    .summercamp img {
        grid-column: 2/3;
        width: 450px;
        height: 450px;
        grid-row: 1/3;
    }

    /* green summer */
    .mhx {
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-row: repeat(2 1fr);
        background-color: #EAD8C0;
        margin-left: 20px;
        border-radius: 20px;
    }

    .mhx img {
        grid-column: 1/2;
        grid-row: 1/3;
        width: 552px;
        height: 400px;
    }

    .mhx h2 {
        grid-column: 2/3;
        grid-row: 1;
        font-size: 40px;
        letter-spacing: 1px;
        padding: 0 0 0 30px;
        margin: 30px 30px 0 30px;
    }

    .mhx p {
        grid-column: 2/3;
        grid-row: 2;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 20px 0 0 30px;
        margin: 0 30px 20px 30px;
        text-align: justify;
        line-height: 1.5;
    }
}